*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: -webkit-fill-available;
   
}

html{
    height: -webkit-fill-available;
}

.main{
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    animation: change 60s infinite ease-in-out;
    

}

@keyframes change{
    0%
    {
        background-image: url(ewaste1.jpg);
    }
    20%
    {
        background-image: url(ewaste2.jpg);
    }
    40%
    {
        background-image: url(ewaste3.jpg);
    }
    60%
    {
        background-image: url(ewaste4.jpg);
    }
    80%
    {
        background-image: url(ewaste2.jpg);
    }
    100%
    {
        background-image: url(ewaste3.jpg);
    }

/*--Navigations--*/

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 1px;
    display: flex;
    background: linear-gradient(to top, #00cc00 0%, #009999 100%);
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
}

.navbutton a{
    position: relative;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    margin-left: 30px;
    color: white;
    
    
}

.navbutton a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbutton a:hover::before{
    width: 100%;
}

h1{
    text-align: center;
    color: white;
    position: absolute; 
    margin-left: 400px;  
    font-size: 50px;
}


/*--logo--*/

.header img{
    margin-top: 50px;
    height: 140px; position: absolute;
}


/*--Article Section---*/


.Articles{
    margin-top:100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.laman{
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 300px;
    margin: 10px;
    color: white;

}

.links{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


/*--artic--*/
.laman .image img{
    height: 120px;
    width: 100%;
}


/*---Min---*/
@media  (min-width:1024px){
    h1{
        font-size: 40px;
        margin-left:180px;
        position:absolute;
        margin-top: 15px;
   }



.navbutton a{
    font-size: 25px;
    padding: 2px;
    margin-left: 15px;
    
    
}
}

@media  (min-width:601px){
    h1{
        font-size: 30px;
        margin-left:100px;
        position:absolute;
        margin-top: 10px;
   }
   .header img{
    margin-top: 20px;
    height: 80px; position: absolute;
}
 

.navbutton a{
    font-size: 15px;
    padding: 2px;
    margin-left: 5px;
    
    
}
}
/*---Max---*/
@media  (max-width:425px){
    .header{
        padding: 5px 1px;
    }
    h1{
        margin-top: 0px;
        font-size: 17px;
        margin-left: 80px;
    }
    .header img{
        margin-top: 10px;
        height: 80px; position: absolute;
    }
    
    
    p{
      font-size: 15px;
    }
    .navbutton a{
        font-size: 12px;
        margin-left: 5px;
    }
    .navbutton{
       padding-top: 50px;
       padding-right: 5vh;
    }

    .laman{
        background-color: rgb(255, 255, 255);
        height: 200px;
        width: 150px;
        margin: 10px;
        color: white;
    }
    .laman .image img{
        height: 60px;
        width: 100%;
    }
    .image{
        font-size: 8px;
    }
    h2{
        font-size: 12px;
    }
    h3{
        font-size: 10px;
    }
    p{
        font-size: 7px;
    }
}

@media  (max-height:643px){
    .laman{
        background-color: rgb(255, 255, 255);
        height: 200px;
        width: 200px;
        margin: 10px;
        color: white;
    }
    .laman .image img{
        height: 70px;
        width: 100%;
    }
    .image{
        font-size: 8px;
    }
    h2{
        font-size: 12px;
    }
    h3{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
 }
