body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
   
}

.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    animation: change 60s infinite ease-in-out;
    

}

@keyframes change{
    0%
    {
        background-image: url(ewaste1.jpg);
    }
    20%
    {
        background-image: url(ewaste2.jpg);
    }
    40%
    {
        background-image: url(ewaste3.jpg);
    }
    60%
    {
        background-image: url(ewaste4.jpg);
    }
    80%
    {
        background-image: url(ewaste2.jpg);
    }
    100%
    {
        background-image: url(ewaste3.jpg);
    }
}
.navbutton {
    background: linear-gradient(to top, #00cc00 0%, #009999 100%);
    padding: 40px;
    padding-left: 140vh;

}

.navbutton a{
    position: relative;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    margin-left: 30px;
    color: white;
    
    
}

.navbutton a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbutton a:hover::before{
    width: 100%;
}

.search{
    display: flex;
    position: absolute;
    margin-top: 30px;
    margin-left: 400px;
    border: solid 2px red;
    padding: 10px;
    width: 30%;
    border-radius: 30px;
    background: #f6f6f6;
    border: none;
    outline: none;
    width: max-content;
    
}

.search-input{
    font-family: sans-serif;
    border: none;
    outline: none;
    width: 600px;
    font-size: 20px;
    background: #f6f6f6;
}

.QA{
    justify-content: center;
    text-align: center;
    margin-top:  30vh ;  
    display: flex;

    
    
}
    
.QA .Q{
    font-size: large;
    padding: 80px;
    padding-inline: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
    
}

.QA .A{
    font-size: large;
    padding: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
}

.QA .Q:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
.QA .A:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}

h1{
     text-align: center;
     font-size: 90px;
     margin-top: 100px;
     color: white;
}

@media screen and (max-width:500px){
    h1{
        font-size: 30px;
     
   }

   .navbutton {
    padding: 10px;
    padding-left: 30vh;

}

.navbutton a{
    font-size: 10px;
    padding: 2px;
    margin-left: 5px;
    
    
}

.search{
    margin-top: 15px;
    margin-left: 100px;
    padding: 2px;
    padding-right: 6px;
    width: 30%;
    border-radius: 30px;
    background: #f6f6f6;
    border: none;
    outline: none;
    width: max-content;
    
}

.search-input{
    width: 100%;
    font-size: 8px;
}

}