body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
   
}

html{
    height: -webkit-fill-available;
}


.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    animation: change 60s infinite ease-in-out;
    

}

@keyframes change{
    0%
    {
        background-image: url(ewaste1.jpg);
    }
    20%
    {
        background-image: url(ewaste2.jpg);
    }
    40%
    {
        background-image: url(ewaste3.jpg);
    }
    60%
    {
        background-image: url(ewaste4.jpg);
    }
    80%
    {
        background-image: url(ewaste2.jpg);
    }
    100%
    {
        background-image: url(ewaste3.jpg);
    }
}
.navbutton {
    background: linear-gradient(to top, #00cc00 0%, #009999 100%);
    padding: 40px;
    padding-left: 135vh;

}

.navbutton a{
    position: relative;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    margin-left: 30px;
    color: white;
    
    
}

.navbutton a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbutton a:hover::before{
    width: 100%;
}



.QA{
    justify-content: center;
    text-align: center;
    margin-top:  25vh ;  
    display: flex;

    
    
}
.QA .H{
    font-size: large;
    padding: 80px;
    padding-inline: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
    
.QA .Q{
    font-size: large;
    padding: 80px;
    padding-inline: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
    
}

.QA .A{
    font-size: large;
    padding: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
.QA .C{
    font-size: large;
    padding: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
.QA .H:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
.QA .Q:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
.QA .A:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
.QA .C:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
h1{
    text-align: center;
    color: white;
    position: absolute; 
    margin-left: 400px; 
    margin-top: 25px; 
    font-size: 50px;
}
p{
     text-align: center;
     font-size: 30px;
     margin-top: 100px;
     color: white;
     margin-left: 10%;
     margin-right: 10%;
}

.main img{
    height: 200px; position: absolute;
}

@media (max-width:1325px){
    h1{
        font-size: 40px;
        margin-left:250px;
        position:absolute;
   }

   p{
    font-size: 25px;
    margin-top: 140px;
   }

   .navbutton {
    padding: 35px;
    padding-left: 100vh;

}

.navbutton a{
    font-size: 30px;
    padding: 2px;
    margin-left: 5px;
    
    
}

.QA{
    margin-top: 120px;
}

}

@media (max-width:1284px){
    h1{
        font-size: 35px;
        margin-left:230px;
        position:absolute;
   }

   .navbutton {
    padding: 30px;
    padding-left: 90vh;

}

}

@media (max-width:1193px){
    h1{
        font-size: 35px;
        margin-left:220px;
        position:absolute;
        margin-top: 20px;
   }

   p{
    font-size: 20px;
    margin-top: 140px;
   }

   .navbutton {
    padding: 25px;
    padding-left: 87vh;

}

.navbutton a{
    font-size: 25px;
    padding: 2px;
    margin-left: 5px;
    
    
}

.QA{
    margin-top: 120px;
}

.QA .H{
    padding: 60px;
    padding-inline: 60px;
    margin: 2px;
}
    
.QA .Q{
    padding: 60px;
    padding-inline: 60px;
    margin: 2px;
    
}

.QA .A{
    padding: 60px;
    margin: 2px;
}
.QA .C{
    padding: 60px;
    margin: 2px;
}

}

@media (max-width:500px){
    h1{
        font-size: 12px;
        margin-left:100px;
        position:absolute;
        margin-top: 20px;
   }

   p{
    font-size: 15px;
    margin-top: 140px;
   }

   .navbutton {
    padding: 15px;
    padding-left: 30vh;

}

.navbutton a{
    font-size:8px;
    padding: 2px;
    margin-left: 5px;
    
    
}

.QA{
    margin-top: 120px;
}

.QA .H{
    padding: 30px;
    padding-inline: 30px;
    margin: 2px;
}
    
.QA .Q{
    padding:30px;
    padding-inline: 30px;
    margin: 2px;
    
}

.QA .A{
    padding: 30px;
    margin: 2px;
}
.QA .C{
    padding: 30px;
    margin: 2px;
}
.main img{
    height: 100px; position: absolute;
}


}

@media (max-width:427px){
    h1{
        font-size: 12px;
        margin-left:90px;
        position:absolute;
        margin-top: 20px;
   }

   p{
    font-size: 15px;
    margin-top: 140px;
   }

   .navbutton {
    padding: 15px;
    padding-left: 28vh;

}

.navbutton a{
    font-size:8px;
    padding: 2px;
    margin-left: 5px;
    
    
}

.QA{
    margin-top: 120px;
}

.QA .H{
    padding: 20px;
    padding-inline: 20px;
    margin: 2px;
}
    
.QA .Q{
    padding:20px;
    padding-inline: 20px;
    margin: 2px;
    
}

.QA .A{
    padding: 20px;
    margin: 2px;
}
.QA .C{
    padding: 20px;
    margin: 2px;
}
.main img{
    height: 100px; position: absolute;
}


}

@media (max-width:318px){
    h1{
        font-size: 10px;
        margin-left:50px;
        position:absolute;
        margin-top: 20px;
   }

   p{
    font-size: 15px;
    margin-top: 80px;
   }

   .navbutton {
    padding: 15px;
    padding-left: 29vh;

}

.navbutton a{
    font-size:6px;
    padding: 2px;
    margin-left: 2px;
    
    
}

.QA{
    margin-top: 80px;
}

.QA .H{
    padding: 8px;
    padding-inline: 8px;
    margin: 2px;
}
    
.QA .Q{
    padding:8px;
    padding-inline: 8px;
    margin: 2px;
    
}

.QA .A{
    padding: 8px;
    margin: 2px;
}
.QA .C{
    padding: 8px;
    margin: 2px;
}
.main img{
    height: 50px; position: absolute;
}


}

@media (max-width:310px){
    h1{
        font-size: 10px;
        margin-left:50px;
        position:absolute;
        margin-top: 20px;
   }

   p{
    font-size: 15px;
    margin-top: 80px;
   }

   .navbutton {
    padding: 15px;
    padding-top: 25px;
    padding-left: 25vh;

}

.navbutton a{
    font-size:8px;
    padding: 2px;
    margin-left: 2px;
    
    
}

.QA{
    margin-top: 80px;
}

.QA .H{
    padding: 8px;
    padding-inline: 8px;
    margin: 2px;
}
    
.QA .Q{
    padding:8px;
    padding-inline: 8px;
    margin: 2px;
    
}

.QA .A{
    padding: 8px;
    margin: 2px;
}
.QA .C{
    padding: 8px;
    margin: 2px;
}
.main img{
    height: 50px; position: absolute;
}


}




