body{
    margin: 0;
    padding: 0;
    height: -webkit-fill-available;
   
}

html{
    height: -webkit-fill-available;
}


.main{
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    animation: change 60s infinite ease-in-out;
    

}

@keyframes change{
    0%
    {
        background-image: url(ewaste1.jpg);
    }
    20%
    {
        background-image: url(ewaste2.jpg);
    }
    40%
    {
        background-image: url(ewaste3.jpg);
    }
    60%
    {
        background-image: url(ewaste4.jpg);
    }
    80%
    {
        background-image: url(ewaste2.jpg);
    }
    100%
    {
        background-image: url(ewaste3.jpg);
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 1px;
    display: flex;
    background: linear-gradient(to top, #00cc00 0%, #009999 100%);
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
}

.navbutton a{
    position: relative;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    margin-left: 30px;
    color: white;
    
    
}

.navbutton a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbutton a:hover::before{
    width: 100%;
}


/*--btns--*/

.QA{
    justify-content: center;
    text-align: center;
    margin-top:  25vh ;  
    display: flex;

    
    
}
.QA .H{
    font-size: large;
    padding: 80px;
    padding-inline: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
    
.QA .Q{
    font-size: large;
    padding: 80px;
    padding-inline: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
    
}

.QA .A{
    font-size: large;
    padding: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
.QA .C{
    font-size: large;
    padding: 80px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
.QA .H:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
.QA .Q:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
.QA .A:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
.QA .C:hover{
    background: linear-gradient(to bottom, #33cc33 0%, #006666 98%);
}
h1{
    text-align: center;
    color: white;
    position: absolute; 
    margin-left: 400px; 
    margin-top: 25px; 
    font-size: 50px;
}
p{
     text-align: center;
     font-size: 30px;
     margin-top: 200px;
     color: white;
     margin-left: 10%;
     margin-right: 10%;
}
/*--logo--*/
.main img{
    margin-top: 50px;
    height: 140px; position: absolute;
}

/*---Max---*/

@media  (max-width:600px){
    h1{
        font-size: 20px;
        margin-left:100px;
        position:absolute;
        margin-top: 10px;
   }

   p{
    font-size: 20px;
    margin-top: 140px;
   }


.navbutton a{
    font-size: 15px;
    padding: 2px;
    margin-left: 5px;
    
    
}
.main img{
    margin-top: 10px;
    height: 80px; position: absolute;
}


.QA{
    margin-top: 120px;
}


.QA .H{
    font-size: large;
    padding: 30px;
    padding-inline: 30px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
    
.QA .Q{
    font-size: large;
    padding: 30px;
    padding-inline: 30px;
    background: rgb(54, 240, 131);
    margin: 2px;
    
}

.QA .A{
    font-size: large;
    padding: 30px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
.QA .C{
    font-size: large;
    padding: 30px;
    background: rgb(54, 240, 131);
    margin: 2px;
}
}

@media  (max-width:425px){
    .header{
        padding: 5px 1px;
    }
    h1{
        margin-top: 0px;
        font-size: 17px;
    }
    p{
      font-size: 15px;
    }
    .navbutton a{
        font-size: 12px; 
        margin-left: 15px;
    }
    .navbutton{
       padding-top: 50px;
       padding-right: 5vh;
    }

    .QA{
        margin-top: 120px;
    }
    
    
    .QA .H{
        padding: 20px;
        padding-inline: 20px;
    }
        
    .QA .Q{
        padding: 20px;
        padding-inline: 20px;  
    }
    
    .QA .A{
        padding: 20px;
    }
    .QA .C{
        padding: 20px; 
    }

}
@media  (max-width:375px){
    .QA .H{
        padding: 12px;
        padding-inline: 12px;
    }
        
    .QA .Q{
        padding: 12px;
        padding-inline: 12px;  
    }
    
    .QA .A{
        padding: 12px;
    }
    .QA .C{
        padding: 12px; 
    }
    
/*---Min---*/

}

@media  (min-width:601px){
    h1{
        font-size: 20px;
        margin-left:100px;
        position:absolute;
        margin-top: 10px;
   }

   p{
    font-size: 20px;
    margin-top: 140px;
   }


.navbutton a{
    font-size: 15px;
    padding: 2px;
    margin-left: 5px;
    
    
}
.main img{
    margin-top: 10px;
    height: 80px; position: absolute;
}


.QA{
    margin-top: 120px;
}


.QA .H{
    padding: 30px;
    padding-inline: 30px;
}
    
.QA .Q{
    padding: 30px;
    padding-inline: 30px;
}

.QA .A{
    padding: 30px;
}
.QA .C{
    padding: 30px;
}
}

@media  (min-width:1024px){
    h1{
        font-size: 30px;
        margin-left:130px;
        position:absolute;
        margin-top: 15px;
   }

   p{
    font-size: 25px;
    margin-top: 250px;
   }


.navbutton a{
    font-size: 25px;
    padding: 2px;
    margin-left: 15px;
    
    
}
.main img{
    margin-top: 40px;
    height: 120px; position: absolute;
}


.QA{
    margin-top: 20vh;
}


.QA .H{
    padding: 80px;
    padding-inline: 80px;
}
    
.QA .Q{
    padding: 80px;
    padding-inline: 80px;
}

.QA .A{
    padding: 80px;
}
.QA .C{
    padding: 80px;
}
}
@media  (max-height:643px){
   p{
    font-size: 25px;
    margin-top: 120px;
   }

.QA{
    margin-top: 15vh;
}

}